# IDE
.idea

# OS
.DS_Store

# Build artifacts
bin/
dist/
site/build
internal/static/build
build-errors.log

# Dependencies
node_modules

# Local config
testing/config-local.yaml

# Temporary files
tmp/
