[Unit]
Description=epever-controller

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/epever-controller --config /etc/epever-controller/config.yaml

[Install]
WantedBy=multi-user.target