name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

env:
  GO_VERSION: '1.24'
  NODE_VERSION: '22'

jobs:
  build-frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Build frontend
        run: make build-frontend

      - name: Upload site build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: site-build
          path: internal/static/build
          retention-days: 1

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Download site build artifacts
        uses: actions/download-artifact@v6
        with:
          name: site-build
          path: internal/static/build

      - name: Run Go tests
        run: go test -v -race -cover ./...

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Download site build artifacts
        uses: actions/download-artifact@v6
        with:
          name: site-build
          path: internal/static/build

      - name: Install frontend dependencies
        working-directory: ./site
        run: npm ci

      - name: Run ESLint
        working-directory: ./site
        run: npm run lint

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0
