name: Pull Request

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install frontend dependencies
        working-directory: ./site
        run: npm ci

      - name: Build frontend
        working-directory: ./site
        run: npm run build

      - name: Get Go dependencies
        run: go mod download

      - name: Run Go tests
        run: go test -v -race -cover ./...

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: 2.5.0
